@{
    ViewData["Title"] = "Admin Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FastChicken - Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FastChicken.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/img/chickenIcon.png">
</head>
<body class="bg-light">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Panel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Admin/Productos">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Admin/BebidasGrandes">Bebidas Grandes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Admin/Bebidas">Bebidas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Admin/Guarniciones">Guarniciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Admin/Combos">Combos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Admin/Logout">Salir</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container">
        <div class="bg-light p-5 rounded">
            @RenderBody()
        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Admin/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
