<div id="alertFinish" class="container text-center d-flex justify-content-center">
    <div class="row align-items-center">
        <div class="col">
            <h2 class="text-success">Pedido Realizado <i class="bi bi-check2-circle"></i></h2>
            <a class="btn btn-primary btn-lg p-3 m-3" asp-controller="Home" asp-action="Order">Nuevo Pedido</a>
            <a class="btn btn-primary btn-lg p-3 m-3" asp-controller="Home" asp-action="Index" onclick="FinishDay();">Terminar Dia</a>
        </div>
    </div>
</div>