@{
    Layout = "_Layout";
}

<div id="alertFinish" class="container text-center d-flex justify-content-center">
    <div class="row align-items-center">
        <div class="col">
            <h2 class="text-success">Pedido Realizado <i class="bi bi-check2-circle"></i></h2>
            <button class="btn btn-primary btn-lg p-3 m-3" onclick="NewOrderBtn()">Nuevo Pedido</button>
            <a class="btn btn-primary btn-lg p-3 m-3" asp-controller="Home" asp-action="Index">Terminar Dia</a>
        </div>
    </div>
</div>