<div class="container">
    <div class="row mb-4 mx-2 p-3 shadow rounded bg-white">
        <partial name="_Menu.cshtml"></partial>
        <partial name="_Menu.cshtml"></partial>
        <partial name="_Menu.cshtml"></partial>
        <partial name="_Menu.cshtml"></partial>
    </div>
</div>