@model Combo

<div class="container">
    <div class="row">
        <div class="col-4 mb-4">
            <button class='btn-menu py-3 px-2 btn btn-outline-primary' type="button" onClick={handleShow}>
                <div class="container">
                    <h5 class='title-menu'>{menuData.name}</h5>
                    <div class="row">
                        <div class="col-12">
                            <h6 class='text-muted'><small>{menuData.description}</small></h6>
                        </div>
                    </div>
                </div>
            </button>
        </div>
    </div>
</div>