@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="btn btn-primary btn-lg p-5" type="button" asp-controller="Home" asp-action="Order">
       Iniciar programa
   </a>
</div>
