<div class="container-xl">
    <div class="row">
        <div class="col-8 p-2">
            <div className='m-3'>
                <h1 className='fw-bold'>Fast Chicken</h1>
            </div>
            <partial name="_MenuList.cshtml"></partial>
        </div>
        <div class="col-4 border-start">
            <partial name="_OrderDetail.cshtml"></partial>
        </div>
    </div>
</div>