@{
    Layout = "_Layout";
}

<div id="orderView" class="container-xl">
    <div class="row">
        <div class="col-8 p-2 border-end" id="newOrderMenuList">
            <div class='m-3 d-flex align-items-center'>
                <h1 class='fw-bold d-inline'>Fast Chicken</h1>
                <img class='d-inline mx-2' src="~/img/chickenIcon.png" alt="Bootstrap" width="40"/>
            </div>
            <div class='container' id="combos_list">
            </div>
        </div>
        <div class="col-4 p-0 d-flex align-items-center">
            <div class="container" id='rowOrder'>
                <div class='row p-4 shadow rounded bg-white'>
                    <h2 class="fw-bold">Pedido</h2>
                    <div class="p-0" id="order_items">
                        <div class="row mb-3" id="noHayItems">
                            <p class="lead text-muted text-center">No hay items</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-2" id="containerFinishOrderBtn">
                    <button type="button" id="btnFinishOrder" class="col-12 p-3 btn btn-primary btn-lg fw-semibold" onclick="ConfirmFinishOrder();" disabled>
                        Terminar Pedido
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="" aria-hidden="false" role="dialog">
</div>

<script src="~/js/Home/Order.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function (event) {
        LoadCombosList();
    })
</script>