html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.btn-menu {
    width: 100%;
    height: 100%;
    border-color: #00000026;
    /* border-radius: 10px;
  border-width: 1px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 0px 9px 2px rgba(147.0172119140625,147.0172119140625,147.0172119140625,0.5); */
}

.btn-addRemove {
    border-radius: 10px;
}

#rowOrder {
    height: 100vh;
    flex-direction: column;
}

#containerOrderItems {
    height: 70vh;
}
#containerFinishOrderBtn {
    height: 15vh;
    display: flex;
    align-items: end;
}


#combos_list {
    height: 87vh;
    overflow-y: scroll;
}

#noHayItems {
    height: 64vh;
}

#orderDetails{
    height: 50vh;
    overflow-y: scroll;
}

.item_modal_ice {
    padding: 10px 50px !important;
    font-size: 20px !important;
}

.item_modal_drink {
    padding: 10px 30px !important;
    font-size: 20px !important;
}

.item_modal_side {
    padding: 10px 33px !important;
    font-size: 20px !important;
}

#alertFinish {
    height: 100vh;
}

.error-msg {
    color: #D8000C;
    background-color: #FFBABA;
    margin: 10px 0;
    padding: 20px;
    border-radius: 3px 3px 3px 3px;
}

#msg-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

#msg {
    width: 95%;
}

@media screen {
    .print {
        display: none !important;
    }
}

@media print {
    .screen {
        display: none !important;
    }

    .print {
        color: black;
    }

    @page {
        width: 78mm;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10;
        size: auto;
    }

    .tableTicket {
        padding: 7px;
    }

    .ticketLogo {
        font-weight: bold;
        font-size: 45px;
        font-style: italic;
        text-align: center;
        height: 120px;
    }

    .orderNum {
        font-weight: bold;
        font-size: 24px;
        text-align: center;
    }

    .ticketTitle {
        font-weight: bold;
        font-size: 26px;
        text-decoration: underline;
        text-align: center;
        height: 90px;
    }

    .ticketSubTitle {
        font-weight: bold;
        font-size: 16px;
        font-style: italic;
        text-align: center;
    }

    .ticketTotal {
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        height: 90px;
    }

    .ticketCantidad {
        font-size: 16px;
        text-align: center;
        width: 30px;
        max-width: 30px;
    }

    .ticketSubTotal {
        font-size: 16px;
        text-align: center;
        width: 50px;
        max-width: 50px;
    }

    .line {
        border-top: 2px solid;
    }

    .ticketConcepto1 {
        font-size: 16px;
        text-align: left;
    }

    .ticketConcepto2 {
        font-size: 16px;
        text-align: left;
    }

    .ticketConcepto3 {
        font-size: 16px;
        text-align: left;
    }
}
